#u1{
	background: rgb(0, 0, 0, 0.3);
	margin: 100px;
}
#u2{
	background: rgb(0, 0, 0, 0.3);
	margin-left: 50px;
	margin-right: 50px;
}

#u3{
	background: rgb(0, 0, 0, 0.3);
	padding: 100px 50px 30px 60px;
}

#f1{
	background: rgb(0, 0, 0, 0.3);
	padding: 100px;
}
#f2{
	background: rgb(0, 0, 0, 0.3);
	padding-left: 50px;
	padding-right: 50px;
}

#f3{
	background: rgb(0, 0, 0, 0.3);
	padding: 100px 50px 30px 60px;
}




