:root {
    --primary-color-1: rgba(0,133,173,1);
    --primary-color-2: rgba(217,217,214,1);
    --primary-color-3: rgba(251,225,34,1);
    --primary-color-4: rgba(0,79,113,1);
    --primary-color-5: rgba(30,34,170,1);
    --primary-color-6: rgba(88,44,131,1);
    --primary-color-7: rgba(19,30,41,1);

    --secondary-color-1: rgba(141,110,151,1);
    --secondary-color-2: rgba(241,190,72,1);
    --secondary-color-3: rgba(97,94,155,1);
    --secondary-color-4: rgba(0,175,102,1);
    --secondary-color-5: rgba(51,63,72,1);
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.header{

	height: 60px;
	width: 100%;
	background: var(--primary-color-7);
	justify-content: space-between;
	display: flex;
	align-items: stretch;
}

.options-r {
	padding-left  : 20px;
    align-items: center;
    width: 75%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    gap: 10px; 
}

.logo{
	background: red;
	width: 50px;
	height: 50px;
	flex-shrink: 0;
}



.Navigation{

	/*Carateristicas*/
	text-decoration: none;
	display: flex;
	justify-content: center;
    align-items: center; 

    /*colores*/
	color: var(--primary-color-2);

	/*medidas*/
	height: 30px;
	width: 100px;
	border-radius: 5px;
	flex-shrink: 0;


}

.Navigation:hover{
	background:rgba(40,53,60,1);

}

.options-l {
	padding-right: 20px;
    align-items: center;
    width: 25px;
    background: rgba(255,255,255, 1.0);
    display: flex;
    gap: 0px; 
}

.search{
	height: 50;
	width: 50;
	display: flex;
	background: red;
}


.login{
	height: 50;
	width: 50;
	display: flex;
	background: red;
}



